<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.41.0/dist/full.css" rel="stylesheet" type="text/css" />
    <title>Login</title>
    <html data-theme="light"></html>
</head>
<body>
    <div class="flex justify-center mt-[70px]">
        <form action="#" class="">
            <h1 class="text-4xl mb-4">Login to Job Center</h1>
            <label for="Email" class="text-2xl">Email</label>
            <input type="text" placeholder="Email" class="input mb-4 input-bordered input-accent w-full max-w-xs" />
            <br/>
            <label for="Password" class="text-2xl">Password</label>
            <input type="text" placeholder="Password" class="input mb-4 input-bordered input-accent w-full max-w-xs" />
            <div class="flex justify-evenly mb-4">
                <p>Keep me signed in</p>
                <p>Forgotten Password?</p>
            </div>
            <button class="btn btn-primary btn-block mb-4">Login</button>
            <h3 class="text-center mb-4">OR</h3>
            <div class="flex justify-between mb-4">
                <button class="btn btn-outline btn-secondary">Google</button>
                <button class="btn btn-outline btn-secondary">Linkedin</button>
            </div>
            <p>Dont you have an account?<b class="text-primary">Register</b></p>
        </form>
        
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>