<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.41.0/dist/full.css" rel="stylesheet" type="text/css" />
    <title>Register</title>
    <html data-theme="light"></html>
</head>
<body>
    <div class="flex justify-center mt-[70px]">
        <form action="#" class="">
            <h1 class="text-2xl mb-4">Create a free Job Center account</h1>
            <div class="flex justify-between mb-4">
                <button class="btn btn-secondary">Candidate</button>
                <button class="btn btn-outline btn-secondary">Employer</button>
            </div>
            <label for="Email" class="text-1xl">Email</label>
            <br/>
            <input type="text" placeholder="Email" class="input mb-4 input-bordered input-accent w-full max-w-xs" />
            <br/>
            <label for="Password" class="text-1xl">Password</label>
            <br/>
            <input type="text" placeholder="Password" class="input mb-4 input-bordered input-accent w-full max-w-xs" />
            <br/>
            <label for="Password" class="text-1xl"> Confirm Password</label>
            <input type="text" placeholder="Confirm Password" class="input mb-4 input-bordered input-accent w-full max-w-xs" />
            <div class="m-4"><input type="checkbox" class="checkbox checkbox-info" />  You accept our Terms and Conditions and Privacy Policy</div>
            <button class="btn btn-primary btn-block mb-4">Register Now</button>
            <p>Already have an account? <b class="text-primary"><a href="login">Login</a></b></p>
        </form>
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>